<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.restaurant.proposalayu">

<!--    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="29"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>

        <activity
            android:name =".ListMateri"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>

        </activity>
        <activity android:name=".fragments.MateriSatuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments2.MateriDuaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments3.MateriTigaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments4.MateriEmpatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments5.MateriLimaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments6.MateriEnamActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.MateriSatu2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.MateriSatu3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.MateriSatu4Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.MateriSatu5Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.MateriSatu6Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".PersiapanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".fragments2.MateriDua2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments2.MateriDua3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".MitosActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".PengertianActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments3.MateriTiga2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments4.MateriEmpat2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments4.MateriEmpat3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".PosisiActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments5.MateriLima2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments5.MateriLima3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments5.MateriLima4Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".TipsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.AdatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.FisikActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.Fisik2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.PsikologisActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.Psikologis2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments.FinancialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments6.KalaSatuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments6.KalaDuaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments6.KalaTigaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".fragments6.KalaEmpatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".info.Info1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".info.Info2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".InfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".petunjuk.Petunjuk1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".petunjuk.Petunjuk2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".petunjuk.Petunjuk3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".PetunjukActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

    </application>

</manifest>